@using Folders.Data.DbModels
@model Folder
<div>
    <form asp-action="ImportFromOS">
        <label asp-for="Path" class="control-label"></label>
        <input asp-for="Path" class="form-control" />
        <span asp-validation-for="Path" class="text-danger"></span>
    </form>
</div>
